.container{
    display: block;
}
.container button{
    margin-left: 20px;
}
.form{
    display: flex;
}
.form input{
    height:5vh;
    margin-right: auto;
    border-radius: 10px;
    padding-left: 10px;
}
.text-box{
    margin-right: 20px;
    margin-left: 20px;
}
.form-container{
    margin-bottom: 100px;
}
